{% extends 'base.html' %}
{% load static %}
{% block title %} حذف{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
<div class="wrapper text-center">
    <h1>تایید حذف</h1>

    <p>آیا از حذف روستای "{{ object.name }}" مطمعن اید؟</p>

    <form action="{% url 'village_delete' object.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="حذف" class="btn btn-danger">
        <a href="{% url 'village_list_view' %}" class="btn btn-warning">لغو</a>
    </form>
</div>
{% endblock %}